body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#game-board {
  display: grid;
  grid-template-columns: 7em 7em 7em;
  grid-template-rows: 7em 7em 7em;
  justify-content: center;
}

.box {
  background-color: #d9d9d9;
  border: 2px solid black;
  cursor: pointer;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  text-align: center;
}
